.post {
  margin: var(--normal-margin);
  border-radius: var(--normal-radius);
  height: 100%;
}

.postTag {
  border-radius: var(--normal-radius);
}

.date {
  margin-top: 10px;
  margin-left: 70%;
}

.title {
  display: flex;
  justify-content: space-between;
}

.affix {
  justify-content: center;
  text-align: center;
}

.affix h3 {
  color: white;
}
