.post {
  margin: var(--normal-margin);
  border-radius: var(--normal-radius);
  height: 100%;
}

.date {
  margin-top: 10px;
  margin-left: 70%;
}

.title {
  display: flex;
  justify-content: space-between;
}
