html {
  height: 1080px;
}

.ant-layout-content {
  height: 1080px;
  color: black;
  background: #6f4071;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ant-carousel {
  width: 60%;
  height: 100%;
}

.avatar {
  height: 100px;
  width: auto;
}

.mainRow {
  min-height: 300px;
  justify-content: space-around;
  margin-top: 250px;
  margin-bottom: -200px;
  background: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 100px;
  width: 80%;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mainColumn h1 {
  color: black;
}

.descriptionTextWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-upload > input {
  display: none;
}

.avatarImage:hover {
  border: solid gray 2px;
  cursor: pointer;
}

.gamersRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
